<table>
  <tr>
    <td><%= meal.totals[:calories] %> calories</td>
    <td><%= meal.totals[:carbs] %> carbs</td>
    <td><%= meal.totals[:fats] %> fats</td>
    <td><%= meal.totals[:protein] %> protein</td>
  </tr>
</table>


